/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0;
}
:root {
  --button-color: rgb(224, 224, 224);
  --button-color-hover: rgb(224, 224, 224);
  --button-border: rgb(224, 224, 224);
  --button-text-color: black;
}
.button-list {
  border-radius: 8px;
  padding: 10px 25px;
  outline: none;
  border: 1px solid var(--button-border);
  cursor: pointer;
  background-color: var(--button-color);
  transition: 0.3s ease-in-out;
  color: var(--button-text-color);
  &:hover {
    background-color: var(--button-color-hover);
  }
  &.approve {
    --button-color: oklch(62.7% 0.194 149.214);
    --button-color-hover: oklch(44.8% 0.119 151.328);
    --button-border: oklch(44.8% 0.119 151.328);
    --button-text-color: white;
  }
  &.reject {
    --button-color: oklch(63.7% 0.237 25.331);
    --button-color-hover: oklch(50.5% 0.213 27.518);
    --button-border: oklch(50.5% 0.213 27.518);
    --button-text-color: white;
  }
  &.confirm {
    --button-color: oklch(54.6% 0.245 262.881);
    --button-color-hover: oklch(48.8% 0.243 264.376);
    --button-border: oklch(48.8% 0.243 264.376);
    --button-text-color: white;
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

textarea {
  outline: none;
  border-radius: 8px;
  padding: 5px;
  font-size: 16px;
}
